appnope==0.1.0
boto==2.48.0
boto3==1.6.16
botocore==1.9.16
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
docutils==0.14
gensim==3.4.0
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jmespath==0.9.3
numpy==1.14.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
requests==2.18.4
s3transfer==0.1.13
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.7
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
tensorflow==2.5.1
google-compute-engine==2.7.6
